<nav class="navbar navbar-default navbar-inverse navbar-custom" role="navigation">
	<div id="navbar-container" class="container">
		<!-- Home page and toggle get grouped for better mobile display -->
		<div id="navbar-header" class="navbar-header navbar-header-custom">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-content">
				<span class="sr-only">Plan Analyser navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand navbar-brand-custom" href="/">
				<div>
					<img alt="SQL Optimizer" src="/images/logo.png" width="32" height="32">
					<span class="navbar-brand-header-custom">Plan Analyser</span>
				</div>
			</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div id="navbar-content" class="collapse navbar-collapse navbar-content-custom">
			<ul class="nav navbar-nav navbar-lift">
				<li><a href="/dashboard">Dashboard</a></li>
				<li><a href="/tryonline">Try Online</a></li>
			</ul>
      
      <% if(user) { %>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="/user" class="dropdown-toggle" data-toggle="dropdown">
            <% if(user.userName !=undefined && user.userName != '') { %>
            <%= user.userName %> 
            <% } else{ %>
            <%= user.email %> 
            <% } %>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/user">Profile</a></li>
            <li><a href="/user/logout">Logout</a></li>
          </ul>
        </li>
      </ul>
      <% } else{ %>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" data-toggle="modal" data-target="#loginModal">Login</a></li>
      </ul>
      <% } %>
			
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>

<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header modal-custom-alignment">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title">Please Login</h3>
      </div>
      <div class="modal-body">

        <form class="form-signin" role="form" action="/user/login" method="post">
          <div class="input-group">
            <div id="input-group-email" class="input-group-addon">
              <span class="glyphicon glyphicon-user"/>
            </div>
            <input id="email" name="user[email]" type="email" class="form-control" placeholder="Email address" required autofocus/>
          </div>
          <div class="input-group">
            <div id="input-group-password" class="input-group-addon">
              <span class="glyphicon glyphicon-lock"/>
            </div>
            <input id="password" name="user[password]" type="password" class="form-control" placeholder="Password" required/>
          </div>
          <div class="checkbox">
            <label>
              <input id="remember" name="user[remember]" type="checkbox" value="remember-me"> Remember me</input>
            </label>
          </div>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        </form>
        
        <div class="modal-footer modal-custom-alignment">
          <div>
            <a href="/user/register">Register Now</a>
            <span class="register-split">|</span>
            <a href="/resetpassword">Forget Password</a>
          </div>         
        </div>

      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-primary">Register</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div> -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->