<nav class="navbar navbar-default navbar-inverse" role="navigation">
	<div class="container-fluid">
		<!-- Home page and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">SQL Optimizer navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">SQL Optimizer</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li id="navbar_products" class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Products<span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="sqloptimizerfororacle">SQL Optimizer for Oracle</a></li>
						<li><a href="sqloptimizerforsqlserver">SQL Optimizer for SQL Server</a></li>
						<li><a href="sqloptimizerforsybase">SQL Optimizer for Sybase</a></li>
						<li><a href="sqloptimizerfordb2">SQL Optimizer for DB2</a></li>
						<li class="divider"></li>
						<li><a href="plananalyser">Plan Analyser</a></li>
					</ul>
				</li>				
				<li id="navbar_sqloptimizertrails"><a href="sqloptimizertrails">Free Trails</a></li>
				<li id="navbar_buysqloptimizer"><a href="buysqloptimizer">Buy</a></li>
				<li id="navbar_sqloptimizersupport"><a href="sqloptimizersupport">Support</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li id="navbar_loginsqloptimizer"><a href="loginsqloptimizer">Login</a></li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>