<!DOCTYPE html>
<html>
<head>
	<% include templates/head %>
</head>
<body>
	<div>
		<div>
			<% include templates/navigationbar %>
		</div>
		 
		<div>
			<header>
				<h1><%= title %></h1>
				<p>Welcome to <%= title %></p>
			</header>
			<section>
				<div style="height: 300px;">
				 
				</div>
			</section>	

		</div>
		
		<div>
			<% include templates/footer %>
		</div>
	</div>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="/libs/jquery/dist/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>

	<script src="/libs/seajs/dist/sea.js"></script>

	<% include templates/body-end %>
</body>
</html>