<!DOCTYPE html>
<html>
<head>
	<% include templates/head %>

	<!-- Custom styles for this template -->
    <link href="/stylesheets/signin.css" rel="stylesheet">
</head>
<body>
	<div>
		<div>
			<% include templates/navigationbar %>
		</div>
		 
		<div class="container">

	      <form class="form-signin" role="form">
	        <h2 class="form-signin-heading">Please sign in</h2>
	        <input type="email" class="form-control" placeholder="Email address" required autofocus/>
	        <input type="password" class="form-control" placeholder="Password" required/>
	        <div class="checkbox">
	          <label>
	            <input type="checkbox" value="remember-me"> Remember me</input>
	          </label>
	        </div>
	        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
	      </form>

	    </div> <!-- /container -->
		
		<div>
			<% include templates/footer %>
		</div>
	</div>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="/libs/jquery/dist/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>

	<script src="/libs/seajs/dist/sea.js"></script>


</body>
</html>