<!DOCTYPE html>
<html>
<head>
	<% include templates/head %>

	<!-- Custom styles for this template -->
	<link rel='stylesheet' href='/stylesheets/signinPage.css' />
</head>
<body>
	<div>
		<div>
			<% include templates/navigationbar %>
		</div>
		 
		<div class="container">
		    <div>
		    	<form class="form-signin" role="form">
		    	  <div class="panel-heading-custom">
		    	  	<h2 class="form-signin-heading">Sign In to Plan Analyser</h2>
		    	  </div>
		    	  <div class="input-group">
		    	    <div id="input-group-email" class="input-group-addon">
		    	      <span class="glyphicon glyphicon-user"/>
		    	    </div>
		    	    <input type="email" class="form-control" placeholder="Email address" required autofocus/>
		    	  </div>
		    	  <div class="input-group">
		    	    <div id="input-group-password" class="input-group-addon">
		    	      <span class="glyphicon glyphicon-lock"/>
		    	    </div>
		    	    <input type="password" class="form-control" placeholder="Password" required/>
		    	  </div>
		    	  <div class="checkbox">
		    	    <label>
		    	      <input type="checkbox" value="remember-me">Remember me</input>
		    	    </label>
		    	  </div>
		    	  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
		    	</form>
		    </div>

		    <div class="modal-footer modal-custom-alignment modal-footer-custom">
		      <div>
		        <a href="/user/signup">Sign Up</a>
		        <span class="register-split">|</span>
		        <a href="/resetpassword">Forget Password</a>
		      </div>         
		    </div>

		</div> <!-- /container -->
		
		<div>
			<% include templates/footer %>
		</div>
	</div>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="/libs/jquery/dist/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>

	<script src="/libs/seajs/dist/sea.js"></script>

	<% include templates/body-end %>
</body>
</html>