<!DOCTYPE html>
<html lang="en">
<head>
	<% include templates/head %>
	<link rel='stylesheet' href='/stylesheets/plananalyser.css' />
</head>
<body>
	<div>
		<div>
			<% include templates/navigationbar %>
		</div>

		<div class="plancontrol">
			<section class="plan-header">
				<h1 >Plan Analyser Online</h1>
			</section>	
			<div>
				<form id='submitForm' action="plananalyser" method="post">
					<div>
						<div class="button-group-custom">
						  <!-- <button type="button" class="btn btn-default">New Plan XML</button> -->
						  <button id="submitbutton" type="submit" class="btn btn-primary">Parse Plan</button>
						  <button id="clearbutton" type="button" class="btn btn-primary">Clear</button>
						</div>
						<div>
							<textarea id="textinput" class="planeditor"></textarea>
						</div>
						<div id="myDiagramDiv"></div>
					</div>
				</form>
			</div>
		</div>
		
		<div>
			<% include templates/footer %>
		</div>

	</div>

	<script src="/libs/jquery/dist/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/libs/gojs/release/go-debug.js"></script>
	<script src="/libs/seajs/dist/sea.js"></script>

	<script>
		function DebugCallback(debug){
			debug.InitDebugData();
		};

		seajs.use('/javascripts/debug', DebugCallback);

		function GoUtilCallback(goUtil){
			goUtil.InitDiagram();
		}

		seajs.use('/javascripts/goutil', GoUtilCallback);

		function ParsePlanCallback(parsePlan){
			parsePlan.InitParsePlan();
		}

		seajs.use('/javascripts/postparseplan', ParsePlanCallback);

		function NavbarUtilCallback(navbarutil){
			var navbarid = '<%- navbarid %>';
			navbarutil.SelectNavBarItem(navbarid);
		}

		seajs.use('/javascripts/navbarutil', NavbarUtilCallback);
		
	</script>
</body>
</html>