body {
  background-color: #eee;
}

.navbar-custom {
    border-radius:0;
    background-color: #333;
    margin-bottom: 0px;
}

.navbar-header-custom{
}

.navbar-content-custom{
	font-size: 15px;
}

.navbar-brand-custom{
    padding-top: 10px;
}

.navbar-brand-header-custom{
	font-weight: bold;
    font-size: 20px;
    color: #eeeeee;
    margin-left: 3px;
}

.footer-custom{
	color: black;
	text-align: center;
	padding: 20px;
	background-color: lightgray;
}

.container-custom{
	margin-right: 20px;
	margin-left: 20px;
	width: inherit;
}

.container-top{
	margin-top: 50px;
}

.panel-heading-custom{
	text-align: center;
	min-height: 60px;
}
