<!DOCTYPE html>
<html lang="en">
<head>
	<% include templates/head %>
	<link rel='stylesheet' href='/stylesheets/plananalyser.css' />
</head>
<body>
	<div>
		<div>
			<% include templates/navigationbar %>
		</div>

		<section>
			<div class="jumbotron jumbotron-plananalyser">
				<h1>Analysis Plan Anywhere</h1>
				<p>From desktop to web.</p>
			</div>
		</section>	

		<section>
			<div id="products-plananalyser" class="products-plananalyser">
				<div class="row featurette">
					<div class="col-md-4">
						<h2 class="featurette-heading">Plan Analysis</h2>
						<p>Find more problem from your execution plan.</p>
						<h3>More warning</h3>
						<p>Find more problem from your execution plan.</p>
						<h3>More Beautiful</h3>
						<p>Find more problem from your execution plan.</p>
						<p><a class="btn btn-default" href="sqloptimizertrails" role="button">Try Online »</a></p>
					</div>
					<div class="col-md-8">
						<img class="featurette-image img-responsive" alt="Plan Analyser" src="/images/plan4.png">
					</div>
				</div>
			</div>
		</section>
		

		</div>

		<div>
			<% include templates/footer %>
		</div>

	</div>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="/libs/jquery/dist/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>

	<script src="/libs/seajs/dist/sea.js"></script>

	<script>

		function NavbarUtilCallback(navbarutil){
			var navbarid = '<%- navbarid %>';
			navbarutil.SelectNavBarItem(navbarid);
		}

		seajs.use('/javascripts/navbarutil', NavbarUtilCallback);

	</script>
</body>
</html>